<div style="width:670px; margin:10px; padding-top: 25px;">
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 1, :calendar => calendar_h )%></div>
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 2, :calendar => calendar_h )%></div>
  <div style="clear:both;"></div>
</div>

<div style="width:670px; margin:10px; padding-top: 25px;">
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 3, :calendar => calendar_h) %></div>
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 4, :calendar => calendar_h) %></div>
  <div style="clear:both;"></div>
</div>

<div style="width:670px; margin:10px; padding-top: 25px;">
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 5, :calendar => calendar_h) %></div>
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 6, :calendar => calendar_h) %></div>
  <div style="clear:both;"></div>
</div>

<div style="width:670px; margin:10px; padding-top: 25px;">
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 7, :calendar => calendar_h) %></div>
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 8, :calendar => calendar_h) %></div>
  <div style="clear:both;"></div>
</div>

<div style="width:670px; margin:10px; padding-top: 25px;">
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 9, :calendar => calendar_h) %></div>
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 10, :calendar => calendar_h) %></div>
  <div style="clear:both;"></div>
</div>

<div style="width:670px; margin:10px; padding-top: 25px;">
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 11, :calendar => calendar_h) %></div>
  <div style="width:330px; float: left;"><%= calendar (:year => year, :month => 12, :calendar => calendar_h )%></div>
  <div style="clear:both;"></div>
</div>
